body {
    font-family: Arial, sans-serif;
    background-color: #248bbb;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #e0dfdf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
}

img{

width:20%;
height:20%;
border-radius: 80px;
margin: 0 35%;

}

p { 
  text-align:left;
}
.soyyo{
text-align: right;

}